
<main class="home-content">
  <div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-anchor nav-link active" id="tags-tab" data-toggle="tab" href="#tags" role="tab" aria-controls="tags" aria-selected="true">The Journey's tags</a>
      </li>
      <li class="nav-item">
        <a class="nav-anchor nav-link" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="false">The Journey's Favorites</a>
      </li>
      <li class="nav-anchor tag-form" style="width:60%;padding-left:50px">
        <%= form_for :tags, method: :get, url: trips_path do |f| %>
          <div class="col-xs-10 row">
            <div  style="width:87%;">
            <%= f.collection_select(
                  :tag_list,
                  ActsAsTaggableOn::Tag.order(:name),
                  :id,
                  :name,
                  {},
                  {
                    multiple: true,
                    class: 'chosen-select',
                    data: { placeholder: "Search By Tags" }
                  }
                ) %>
            </div>
            <div>
              <%= f.submit 'Go!', class:"btn btn-primary"%>
            </div>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
  
