<!-- BootStrap Modal: Add New Trip -->
<div class="modal fade" id="newTripModal" tabindex="-1" role="dialog" aria-labelledby="tripModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tripModalLabel">New Trip</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @trip do |form|  %>
          <% if @trip.errors.present? %>
            <p><%= @trip.errors.full_messages.join(', ') %></p>
          <% end %>
          <div>
            <%= form.label :title %>
            <%= form.text_field :title,  class:"form-control" %>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
