<div class="row">
  <div class="col-md-2">
    <%= expense_tracker.category %>
  </div>
  <div class="col-md-2">
    <%= expense_tracker.date %>
  </div>
  <div class="col-md-4">
    <%= expense_tracker.description %>
  </div>
  <div class="col-md-1">
    <%= expense_tracker.price %>
  </div>
</div>
