<div class="header">
  <div class="row">
    <div class="col-md-2">
      Category
    </div>

    <div class="col-md-2">
      Date
    </div>

    <div class="col-md-3">
      Description
    </div>
    <div class="col-md-1">
      price
    </div>
  </div>
</div>
