@font-face {
  font-family: "Traveling-Through";
  src: url(/assets/Traveling-Through.otf) format("truetype");
}

/*=========== Layout: Home_appliction.html.erb ==============*/
.nav-center {
  justify-content: center;
  display: flex;
}

/* welcome: Nav "a" tag*/
.nav-anchor{
  text-decoration: none;
  font-family: "Traveling-Through", arial, sans-serif;
  font-size: 25px;
  color: black;
  margin-left: 10px;
}

/* welcome: carousel images */
.home-carousel {
  height: 80vh;
  width: 100%;
  margin: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* welcome: anchor style */
.link-style {
  /*margin-bottom: 10px;*/
  font-family: "Traveling-Through", arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
  border: 3px solid black;
  padding: 10px 50px;
}

/* welcome: button center */
/*.center
{
   justify-content: center;
   align-items: center;
   display: flex;
   height: 60vh;
}*/

.home-content{
  padding-top: 30px;
}

.home-trip-list > h3 {
  font-family: "Traveling-Through", arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

/* ========= Simple_form error messge ========= */
.has-error > .help-block {
  color: red;
}

/*=========== Trip View ==============*/
/*Google Map Api Size*/
#map {
 height: 500px;
 width: 100%;
}

/*Trip#Show*/
#tripShowCarousel {
  padding: 30px 10px;
}

/*Trip#Show: Trips Info carousel layout*/
#tripShowInfo {
  background-color: grey;
  padding: 100px 0;
  text-align: center;
  height: 530px;
}

/*Trip#Show: Chart and Calendar*/
.flexingRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*Trip#Show: Chart and Calendar*/
.borderingDiv {
  width: 45vw;
  border-style: outset;
}
