/* welcome#index: background-image */
.home-bg {
  height: 80vh;
  width: 100%;
  margin: 0;
  background: url('santorini.jpg') no-repeat center center fixed;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-size: cover;
}

/* welcome#index: button center */
.center
{
   justify-content: center;
   align-items: center;
   display: flex;
   height: 60vh;
}

/* welcome#index: anchor style */
.link-style {
  margin: 0 2px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 5px 50px;

}

/*Button to SignOut*/
.sign-out-btn{
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #007bff;
  padding: .5rem 1rem;
}

/* welcome#index: Nav "a" tag*/
.nav-anchor{
  text-decoration: none;
  color: white;
  margin: 7px 10px;
  display: inline-block;
  /*padding: .5rem 1rem;*/
}


#map {
 height: 500px;
 width: 100%;
}

.has-error > .help-block {
  color: red;
}

#tripShowCarousel {
  padding: 30px 10px;
}

#tripShowInfo {
  background-color: grey;
  padding: 100px 0;
  text-align: center;
  height: 530px;
}

.borderingDiv {
  width: 45vw;
  border-style: outset;
}

.flexingRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
